/* ============================================
    COMPONENT — Barra de escritura
   ============================================ */

.editor {
    background-color: var(--color-surface);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-lg);
    transition: border-color var(--transition-fast);
    max-width: 760px;
    margin: 0 auto;
    width: 100%;
}

.editor:focus-within {
    border-color: var(--color-accent);
}

.editor__wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: stretch;
    gap: var(--space-2);
    position: relative;
    padding: var(--space-3) var(--space-3) var(--space-3) var(--space-4);
}

.editor__highlight,
.editor__input {
    grid-column: 1; 
    grid-row: 1;   
    
    font-size: var(--font-size-sm);
    line-height: 1.6;
    padding: var(--space-2) var(--space-2);
    margin: 0;
    width: 100%;
    max-height: 200px;
}

.editor__highlight {
    display: block; 
    pointer-events: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: hidden; 
    color: transparent;
    background: transparent;
    padding-right: 15px;
    min-height: 1.6em;
    line-height: 1.6;
}

.editor__input {
    background: none;
    border: none;
    outline: none;
    resize: none;
    color: var(--color-text-primary);
    overflow-y: auto;
    scrollbar-gutter: stable; 
    overflow-y: auto;
}

.error {
    text-decoration: underline wavy var(--color-error, #f30707);
    text-decoration-skip-ink: none;
    color: transparent;
}

.editor__input::placeholder {
    color: var(--color-text-disabled);
}

.editor__send-btn {
    width: 36px;
    height: 36px;
    border-radius: var(--radius-md);
    background-color: var(--color-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: background-color var(--transition-fast), opacity var(--transition-fast);
}

.editor__send-btn:hover:not(:disabled) {
    background-color: var(--color-accent-hover);
}

.editor__send-btn:disabled {
    background-color: var(--color-surface);
    opacity: 0.4;
    cursor: not-allowed;
}

.editor__send-icon {
    width: 18px;
    height: 18px;
    filter: invert(1); 
    opacity: 0.5;
    transition: filter var(--transition-base), opacity var(--transition-base);
}

.editor__send-btn:disabled:hover .editor__send-icon{
    filter: brightness(0) saturate(100%) invert(13%) sepia(100%) saturate(7471%) hue-rotate(359deg) brightness(97%) contrast(111%);
}

.editor__send-btn:hover:not(:disabled) .editor__send-icon {
    opacity: 1;
    filter: invert(1) 
        drop-shadow(0px 0px 15px #00fbf7);
}

.editor__input::selection {
    background-color: #147ed539;
    color: var(--color-text-primary);
}

.editor__input::-moz-selection {
    background-color: #147ed539;
    color: var(--color-text-primary);
}